.bgbody{
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    }
    
    /* header */ 
    .header-container{ 
    width:100% ;
    height: 80px;
    display: flex;
    background-color:rgb(30, 28, 67);
    margin: 0;
    }
    
    .header-container-left{
    width:30% ;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 30px;
    
    }
    
    .header-container-right{ 
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 30px;
    }
    
    
    .font1{ 
    font-size: 20pt;
    font-family: cursive;
    font-weight: 600;
    color: white;
    
    }
    
    .font2{
    color: white;
    font-size:14pt ;
    font-family:'Times New Roman', Times, serif
    
    }
    
    .font{ 
    color:white;
    font-size: 14pt;
    text-decoration: none;
    margin-right: 30px;
    }
    
    .information{
    width: 100%;
    }



    .font10{
    font-size: 50pt;
    font-weight: 800;
    font-family: cursive;
    color: white;
    }